<MudAppBar Elevation="0" Fixed="false" Style="@($"background:{Colors.Grey.Lighten4};height:50px")">
        <MudContainer MaxWidth="MaxWidth.Large">
        <MudAppBar Style="@($"background:{Colors.Grey.Lighten4};height:50px")" Fixed="false" Elevation="0">
            <div Style="background-color: red;height: 50px;display: flex;align-items: center;color:#fff">
       <MudLink  Color="Color.Surface" Typo="Typo.caption" Class="mx-4"  Href="#">HOME</MudLink>

            </div>
       <MudLink Color="Color.Default" Typo="Typo.caption" Href="#" Class="mx-4">
CART
</MudLink>
       <MudLink Color="Color.Default" Typo="Typo.caption"  Href="#" Class="mx-4">CHECKOUT
</MudLink> <MudLink Color="Color.Default" Typo="Typo.caption"  Href="#" Class="mx-4">CATEGORY

</MudLink> <MudLink Color="Color.Default" Typo="Typo.caption"  Href="#" Class="mx-4">
CONTACT

</MudLink>
    </MudAppBar>
</MudContainer>
</MudAppBar>


<style>
   a.mud-typography.mud-link.mud-surface-text.mud-link-underline-hover.mud-typography-caption.mx-4 {
       color: white !important; 
       font-weight:bold;
    }
</style>